<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Note App</h1>
        <form method="POST">
            <input type="text" name="note" placeholder="Tulis catatan..." required>
            <button type="submit">Tambah</button>
        </form>
        <ul class="note-list">
            {% for note in notes %}
                <li>
                    {{ note.text }}
                    <a href="{{ url_for('delete_note', note_id=note.id) }}" class="delete-button">Hapus</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
